* {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}

h1 {
    background-color: lightgreen;
}

h2 {
    background-color: aqua;
}

.recipe-link {
    background-color: yellow;
}

li {
    text-align:left;
}