* {
    font-family: 'Times New Roman', Times, serif;
    width: 800px;
    margin: 5px auto;
    padding: 2px;
    text-align: center;
}

h1 {
    background-color: lightgreen;
    border: 2px solid darkgreen;
}

h2 {
    background-color: aqua;
    border: 2px solid darkblue;
}

.recipe-link {
    background-color: yellow;
}

ul, ol, p {
    border: 2px solid grey;
    background-color: azure;
}

ul, ol {
    display: inline-block;
}

li {
    text-align: left;
}

